[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
djoser = "*"
psycopg2 = "*"
psycopg2-binary = "*"
django-webpack-loader = "*"
django-cors-headers = "*"
pillow = "*"
stripe = "*"
python-decouple = "*"
django-countries = "*"

[dev-packages]

[requires]
python_version = "3.8"
